@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

$main-black: #1E202B;
$main-blue: #08AEEA;
$main-green: #2AF598;
$main-gradient: linear-gradient(top right, $main-blue, $main-green);
$main-font: 'Source Sans Pro';